<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.comfostays">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.location"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WelcomeScreen"
            android:label="@string/title_activity_welcome_screen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.loginactivities.ForgotPasswordActivity" />
        <activity android:name=".activities.loginactivities.RegisterActivity" />
        <activity
            android:name=".activities.loginactivities.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.TutorialActivity"
            android:label="@string/title_activity_tutorial"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.owner_activities.MyPropertiesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.owner_activities.building_setup.AddPropertyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.owner_activities.building_setup.SetBuildingLayoutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.owner_activities.occupancy.OccupancyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.owner_activities.tenant_activities.TenantsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.owner_activities.notifications.OwnerNotificationsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.owner_activities.building_setup.FinalPortfolioActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.owner_activities.building_setup.AddCostAndChargesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.owner_activities.edit_activities.EditBuildingDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.owner_activities.edit_activities.EditFacilitiesProvidedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.owner_activities.edit_activities.EditCostAndChargesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.owner_activities.tenant_activities.TenantsDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ContactUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.owner_activities.building_setup.CaptureOtherDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.owner_activities.building_setup.RoomConfigurationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.owner_activities.MyFinancesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.PopUpIdProofs"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".activities.owner_activities.MealPollingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.owner_activities.ViewPropertyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.owner_activities.occupancy.RoomLevelOccupancy"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.owner_activities.tenant_activities.FilterTenantsActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".activities.owner_activities.notifications.NotifyTenantActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.owner_activities.notifications.TenantIssuesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.owner_activities.notifications.AcceptRejectTenantActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.owner_activities.building_setup.AddMealScheduleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MealActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.owner_activities.edit_activities.EditMealActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activities.customer_activities.JoinPropertyActivity"></activity>
    </application>

</manifest>